<%= form_tag passwords_path, class:"form-horizontal" do %>
  <p>Enter available passwords</p>
  <p><%= text_area_tag :words, "", class:"form-control", rows:15, placeholder:"One per line" %></p>
  <p><%= submit_tag "Go", class:"btn btn-fallout" %></p>
<% end %>
