/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

$tx:#28E877;
$bg:#11331E;

*{
  text-transform:uppercase;
}

body{
  background:$bg;
  color:$tx;
  font-family: 'VT323', monospace;
  font-size:20px;
}

h1,h2,h3,h4{
  text-align:center;
  font-family:'VT323', monospace;
  text-transform:uppercase;
}

.form-control{
  border:1px solid $tx;
  border-radius: 0;
  background:$bg;
  color:$tx;
  font-size:1em;
}

.btn.btn-fallout{
  font-size:1.2em;
  background:$bg;
  border:1px solid $tx;
  border-radius:0;
  color:$tx;
  width:100%;
  &:hover{
    color: $bg;
    background:$tx;
  }
}
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td{
  border-color:$tx;
}
